{% extends 'base.html.twig' %}

{% block body %}

    <p class="confirm_infos">Adresse : {{ test.adresseStage }} <br>
        {{ test.suiteAdresseStage }} <br>
        {{ test.complementAdresseStage }} <br>
        {{ test.cpStage }} <br>
        {{ test.villeStage }} </p>

{% endblock %}

{% block title %}

{% endblock %}

