{% extends 'base.html.twig' %}

{% block body %}

    <p class="confirm_infos">Prénom : {{ id.entreprise.responsable.prenom }}</p>
    <p class="confirm_infos">Nom : {{ id.entreprise.responsable.nom }}</p>
    <p class="confirm_infos">Fonction dans l'entreprise : {{ id.entreprise.responsable.fonction }} <br></p>
    <p class="confirm_infos">Email : {{ id.entreprise.responsable.email }} <br></p>
    <p class="confirm_infos">Téléphone : {{ id.entreprise.responsable.telephone }} <br></p>
    <p class="confirm_infos">Portable : {{ id.entreprise.responsable.portable }} <br></p>
{#    <p class="confirm_infos">Fax : {{ id.faxResponsable }} <br></p>#}

{% endblock %}

{% block title %}

{% endblock %}

