{% extends 'base.html.twig' %}

{% block body %}

    <p class="confirm_infos">Organisme de sécurité sociale : {{ etudiant.intituleSecuriteSociale }}</p>
    <p class="confirm_infos">Adresse de l'organisme : {{ etudiant.adresseSecuriteSociale }}</p>
    <p class="confirm_infos">Votre adresse : {{ etudiant.adresse.adresse1 }}
        {{ etudiant.adresse.adresse2 }}
        {{ etudiant.adresse.adresse3 }} <br>
        {{ etudiant.adresse.codePostal }}
        {{ etudiant.adresse.ville }}
    </p>
    <p class="confirm_infos">Votre email personnel : {{ etudiant.mailPerso }}</p>
    <p class="confirm_infos">Votre numéro de téléphone : {{ etudiant.tel2 }}</p>

{% endblock %}

{% block title %}

{% endblock %}

