{% extends 'base.html.twig' %}

{% block body %}

    <p class="confirm_infos">Prénom : {{ test.prenomResponsable }}</p>
    <p class="confirm_infos">Nom : {{ test.nomResponsable }}</p>
    <p class="confirm_infos">Fonction dans l'entreprise : {{ test.fonctionResponsable }} <br></p>
    <p class="confirm_infos">Email : {{ test.emailResponsable }} <br></p>
    <p class="confirm_infos">Téléphone : {{ test.telResponsable }} <br></p>
    <p class="confirm_infos">Portable : {{ test.portableResponsable }} <br></p>
    <p class="confirm_infos">Fax : {{ test.faxResponsable }} <br></p>

{% endblock %}

{% block title %}

{% endblock %}

