
    <p class="confirm_infos">Adresse : {{ id.adresseStage.adresse1 }}
        {{ id.adresseStage.adresse2 }}
        {{ id.adresseStage.adresse3 }}
        {{ id.adresseStage.codePostal }}
        {{ id.adresseStage.ville }} </p>

