
    <p class="confirm_infos">Prénom : {{ id.tuteur.prenom }}</p>
    <p class="confirm_infos">Nom : {{ id.tuteur.nom }}</p>
    <p class="confirm_infos">Fonction dans l'entreprise : {{ id.tuteur.fonction }} <br></p>
    <p class="confirm_infos">Email : {{ id.tuteur.email }} <br></p>
    <p class="confirm_infos">Téléphone : {{ id.tuteur.telephone }} <br></p>
    <p class="confirm_infos">Portable : {{ id.tuteur.portable }} <br></p>
{#    <p class="confirm_infos">Fax : {{ test.faxTuteur }} <br></p>#}

